* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-bg-color: #ffffff;
    --nav-bar-clr:rgb(29, 29, 29);
}

.nav-bar {
    background-color: rgb(78, 78, 78);
    color: #ffffff;
}

.nav-bar .nav-bar-content ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;
    border: 1px solid var(--nav-bar-clr);
}

.nav-bar .nav-bar-content ul li {
    list-style: none;
    
}

.nav-bar .nav-bar-content a {
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 1px;
    padding: 20px 40px;
}

.nav-bar .nav-bar-content a:hover {
    background-color: white;
    color: var(--nav-bar-clr);
    transition: all 0.250s ease-in-out;
    

}



.main-slide{
    height: 70vh;
    background-image: url(../pictures/slide_01.jpg);
    background-size: cover;
    color: #f6f3ee;
    overflow: hidden;
    box-shadow:inset 0px 2px 10px rgba(0, 0, 0, 0.4) ;
 }

 /* == Caroussel == */


#slider {
    position: relative;
    width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
}

#precedent,
#suivant {
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity: 0;
    position: absolute;
    font-size: 100px;
    color: rgba(220, 220, 220, 0.8);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
}
    
#precedent {
    left: 0;
}

#suivant {
    right: 0;
}

#slider:hover #precedent,
#slider:hover #suivant {
    opacity: 1;
}